name: Node.js CI

on:
  push:
    tags:
      - '*'
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [18.x, 20.x, 21.x, 22.x]
        webpack-version: [3, 4, 5]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm i webpack@${{ matrix.webpack-version }}
      - run: |
          if [ "${{matrix.node-version}}" != "16.x" ]; then
            export NODE_OPTIONS=--openssl-legacy-provider && npm test
          else
            npm test
          fi
        env:
          CI: true
